:root {
    --branco-principal: #FFF;
    --cinza-segundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter';
    --botao-azul-efeito: #0099ff;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_segundario {
    background-color: transparent;
    border: solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-segundario);
    margin-top: -5px;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 85%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 45px;
    color: var(--branco-principal);
    margin-bottom: 0.2em;
}

.descricao__texto {
    color: var(--cinza-segundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.imagem_notebook {
    width: 93%;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 45px;
    color: var(--branco-principal);
}

.lista__itens {
    font-size: 28px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    color: var(--branco-principal);
}

.rodape__logo {
    width: 102px;
    margin: 40px 0
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__link a {
    margin: 9px;
    color: var(--branco-principal);
    text-decoration: none;
}

.rodape__texto {
    font-size: 14px;
    margin: 30px 70px;
    color: var(--cinza-segundario);
}

.texto__secundario {
    margin: 0 70px 80px 70px ;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: #000;
    transform: scale(1.1);
    transition: all 0.5s;
}